@tailwind base;
@tailwind components;
@tailwind utilities;

/* 기본 폰트 설정 (가독성을 위해) */
body {
  font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui, Roboto, sans-serif;
  @apply bg-slate-50 text-slate-900;
}